.sidebar {
  grid-area: sidebar;
  background-color: rgb(237, 225, 225);
}

.nav {
  font-size: 24px;
  padding: 0 8px;
}

.item {
  padding-bottom: 16px;
}

.item a:hover {
  font-weight: bold;
}

.activeLink {
  font-weight: bold;
  color: gold;
}
